.accessibility-link {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    width: 1px;
}
.accessibility-link:focus {
    clip: rect(auto,auto,auto,auto);
    outline-offset: -3px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted;
    position: static;
    text-decoration: underline;
}
