h1 {
    margin: 2.2rem auto 1.2rem;
}
h2 {
    margin: 2.2rem auto 1.1rem;
}

p {
    text-align: justify;
}

/* let portraits grow up to their max size */
img.portait {
    display: block;
    width: 80%;
    border-radius: 50%;
    margin-top: 3rem;
    max-width: 200px;
}

.alumni {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Space between items */
    justify-content: flex-start; /* Align items to the left */
}

div.person {
    margin-bottom: 30px;

    .page-content {
        margin-top: 20px;
    }
    .position {
        font-weight: bolder;
    }
}

div.person_alumni {
    flex: 1 1 200px; // Grow and shrink with a base width of 200px
    box-sizing: border-box;
    margin-bottom: 10px;
}


#homepageTeamPic {
    margin-top: 1rem;
}

@include media-breakpoint-down(sm) {
    div.person {
        img.portait {
            margin: 0 auto;
        }
    }
}

@include media-breakpoint-up(lg) {
    h1 {
        margin: 2.5rem auto 1.4rem;
    }

    h2 {
        margin: 2.4rem auto 1.3rem;
    }
}

// drop margin-top if h1 is the first element
.py-5 > .container > article > header > h1 {
    margin-top: 0;
}

.bg-primary {
  background-color: red !important;
}
