img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.fullWidth {
  width: 100%;
}

.alignRight {
  width: 300px;
  float: right;
  margin: 0 0 2rem 1rem;
}

.story-entered {
  color: $color__orange;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: $size-mobile) {
  .alignRight {
    width: 100%;
    float: none;
    margin: 0 0 2rem;
  }
}

.svg-filters {
  //visibility: hidden;
}

.portrait {
  position: relative;
  display: block;
  //border-radius: 15px 50px;
  width: 100%;
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}

.portrait_alumni {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100px; // Ensure image doesn't exceed container width
  object-fit: cover; // Adjust if you want images to fill their container
  box-sizing: border-box;
  margin-top: auto;
  margin: 0 auto;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}

.alumni {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between items */
  justify-content: flex-start; /* Align items to the left */
}

.person_alumni {
  flex: 1 1 100px;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 10px;
  align-items: center;
}

div.person {
  margin-bottom: 30px;

  .page-content {
      margin-top: 20px;
  }
}

.googleMap {
  float: right;
  margin-left: 2rem;
  display: block;
}

@media screen and (max-width: $size-mobile) {
  .googleMap {
    float: none;
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}

#p5Vid {
    position: fixed;
    background-color: #aaa;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#beesbookVid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //background: url(polina.jpg) no-repeat;
    //background-size: cover;
    //filter: url('/website/assets/images/filter.svg#two-tone');
}

#backgroundVid {
    position: fixed;
    background-color: #aaa;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //background: url(polina.jpg) no-repeat;
    //background-size: cover;
    filter: url('/website/assets/images/filter.svg#two-tone');
}

#purpleVid {
    position: fixed;
    background-color: #aaa;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //background: url(polina.jpg) no-repeat;
    //background-size: cover;
    filter: url('/website/assets/images/filter.svg#purple');
}
