.home {
  .curvy {
    margin: 2rem 2rem;
    float: right;
    max-width: 70rem;
    background-color: white;
    //clip-path: url(#box-clip);
  }
}

@media screen and (max-width: $size-mobile) {
  .home .curvy {
    margin: 2rem 0;
    max-width: 100%;
  }
}
