body {
}

.page-header {
  position: relative;
  display: block;
  background-color: #e4bd4f;
  //margin-bottom: -5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}
.logoBlot {
  position: absolute;
  display: block;
  z-index: 9999;
  top: 5rem;
  left: 5rem;
  //padding: 5rem;
  //border: 3px black solid;
}

@media screen and (max-width:$size-med) {
  .logoBlot {
    top:2rem;
    left:2rem;
  }
}

.logoText {
  position: absolute;
  display: block;
  z-index: 9999;
  top: 2rem;
  left: 2rem;
  padding: 4rem;
  line-height: 5.2rem;
  //border: 3px black solid;
}

@media screen and (max-width:$size-med) {
  .logoText {
    top:1rem;
    left:1rem;
    padding: 2rem;
  }
}

.logoSVG {
  position: fixed;
  display: block;
  z-index: 9999;
  width: 200px;
  top: 3rem;
  left: 3rem;
  mix-blend-mode:overlay;
}

@media screen and (max-width:$size-med) {
  .logo {
    max-width: 150px;
  }
}

.container {
  display: block;
  position: relative;
  z-index: 9998;
  max-width: 120rem;
  margin: 0 auto;
  //background-color: white;
}

footer {
  clear: both;
  position: relative;
  background-color: #111;
  height: 300px;
  padding: 9rem 3rem;
  //clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  clip-path: url(#footer-clip);
}

main {
  padding: 4rem 2rem;
  min-height: 500px;
  //background-color: white;
}
.person {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-bottom: 2rem;
}
.person-bio {
  padding: 0 2rem;
}

.person-headshot {
  position:relative;
  display:block;
}

.person-headshot::after {
  content:"";
  position: absolute;
  z-index: 100;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.6);
  clip-path: polygon(0 98%, 100% 85%, 100% 100%, 0 100%);
}

@media screen and (max-width: $size-mobile) {
  .person {
    display: block;
  }
  .person-headshot {
    width: 100%;
  }
}
