$landgraf-sans: 'Verdana', -apple-system, sans-serif;
//$landgraf-source: 'Source Pro', monospace;
$landgraf-source: 'Roboto Mono', monospace;
$landgraf-recursive: 'Recursive', monospace;

// @font-face {
// 	font-family: "Source Pro";
// 	src: url('SourceCodeVariable-Roman.otf')
// }
// @font-face {
// 	font-family: "Recursive";
// 	src: url('Recursive_VF.woff2')
// }

$size-mobile:529px;
$size-med:699px;
$size-xxl:1299px;

$color__basecolor:teal;
$color__emphasis:violet;

$color__yellow:#ddd672;
$color__orange:#caa009;
$color__green-light:#1a3a25;
$color__green:#1a3122;
