<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<script type="text/javascript" src="{{ '/assets/javascript/p5.min.js' | relative_url }}"></script>
  <body class="{{ page.title | downcase }}">

    {%- include header-blotter.html -%}

    <div class="container">
      <div class="diagonal">
      <main class="{{ page.title | downcase }}-main">
        {{ content }}
      </main>
    </div>
    </div>
    <video id="backgroundVid" playsinline autoplay muted loop>
      <source src="{{ '/assets/videos/beedance.mp4' | relative_url }}" type="video/mp4">
    </video>
    <!-- <canvas id="backgroundVid"></canvas> -->
    {%- include footer3.html -%}
    <!-- <script type="text/javascript" src="{{ '/assets/javascript/test1.js' | relative_url }}"></script> -->
    <!-- <script type="text/javascript" src="{{ '/assets/javascript/vid.js' | relative_url }}"></script> -->
  </body>

</html>
