<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<script type="text/javascript" src="{{ '/assets/javascript/p5.min.js' | relative_url }}"></script>
  <body class="{{ page.title | downcase }}">

    {%- include header-text2.html -%}

      <div class="diagonal-test5">
      <main class="{{ page.title | downcase }}-main">
        {{ content }}
      </main>
    </div>
    <video id="purpleVid" playsinline autoplay muted loop>
      <source src="{{ '/assets/videos/beedance.mp4' | relative_url }}" type="video/mp4">
    </video>
    <!-- <canvas id="backgroundVid"></canvas> -->
    {%- include footer.html -%}
    <script type="text/javascript" src="{{ '/assets/javascript/splitting.min.js' | relative_url }}"></script>
    <script type="text/javascript">
      Splitting();
    </script>
  </body>

</html>
